<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div class="signin">
  <img src="/images/background.jpeg" class="bgimg" alt="landing backround" height="100%" width="100%">

  <div class="title">
    <h1>ArtisanStyle</h1>
  </div>

  <div class="description">
    <h3>Shop directly from people all over the world</h3>
  </div>

  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>

    <div class="inputs">
      <input class="username" type="text" name="user[username]" placeholder="Username">
      <br>
      <input class="password" type="password" name="user[password]" placeholder="Password">
    </div>

    <div class="buttons">
      <input class="signinbtn btn btn-default" type="submit" value="Sign In">

      <input class="signinbtnguest btn btn-default" type="submit" value="Sign In as Guest">
    </div>

    <br>

    <div class="register">
      <span>Don't have an account?</span>
      <button class="registerbtn btn-default">Register</button>
    </div>

  </form>

</div>
