// Place all the styles related to the Api/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shopbanner {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 250px;
  width: 1000px;
  overflow: hidden;
}

.shopbanner img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
}

.shopbanner a {
  position: relative;
  height: 50px;
  width: 100%;
  float: left;
  margin-top: 140px;
  margin-left: 20px;
  font-family: Roboto;
  color: #FFF;
  font-size: 36px;
}

.shopbanner button {
  position: relative;
  margin-left: 20px;
}

.shopbanner a:hover {
  color: #FFF;
}

.itemdiv {
  display: block;
  position: relative;
  margin: 0 auto;
  border: 1px solid #CCC;
  border-radius: 3px;
  width: 1000px;
  padding: 20px;
  overflow: hidden;
  background: #FFF;
}

.itemdiv .itempic {
  float: left;
  width: 559px;
  border-radius: 3px;
  border: 1px solid #CCC;
  margin-right: 20px;
}

.itemdiv .iteminformation {
  float: left;
  height: 100%;
  width: 379px;
  padding: 10px;
  border: 3px solid #AAE19B;
  border-radius: 3px;
}

.iteminformation .price {
  color: #19BF19;
}

.iteminformation .btn {
  border: 0 none;
  border-radius: 0;
  background-color: #72CD58;
  color: #FFF;
  width: 100%;
}

.itemdiv .toggleFavoriteItem {
  margin-top: 15px;
}

.shoppingcart {
  width: 1000px;
  margin: 0 auto;
  font-family: Roboto;
}

.itemtthumb {
  margin: 20px auto;
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: white;
  position: relative;
  width: 980px;
  height: 360px;
  overflow: hidden;
}

.itemtthumb h3 {
  margin: 0 auto;
  margin-top: 30px;
  width: 25%;
}

.itemtthumb .backToBrowse {
  margin-left: 395px;
  margin-top: 30px;
  border: 0 none;
  border-radius: 1px;
  color: white;
  background: #43BFBF;
}

.itemtthumb .thumbheader {
  width: 100%;
  height: 39px;
  float: left;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #CCC;
  background-color: #FAFAF8;
  font-size: 16px;
}

.thumbheader p {
  float: left;
  margin: 10px 0 10px 10px;
}

.thumbheader button {
  float: right;
  border-radius: 1px;
  border: 0 none;
  vertical-align: middle;
  height: 75%;
  width: 20px;
  margin-right: 10px;
  background-color: #FAFAF8;
  color: #CCC;
}

.thumbheader button:hover {
  color: #4ca0ba;
  background-color: #FAFAF8;
}

.itemtthumb .orderinfo {
  width: 75%;
  height: 85%;
  float: left;
  position: relative;
  border-right: 1px solid #CCC;
  padding: 20px;
}

.orderinfo .imagediv {
  float: left;
  width: 30%;
  margin: 0 none;
  overflow: hidden;
}

.imagediv img {
  height: 100%;
  width: 100%;
}

.orderinfo .iteminfodiv {
  float: left;
  height: 100%;
  width: 70%;
  padding: 10px;
}

.iteminfodiv .itemlink {
  float: left;
  font-size: 24px;
}

.iteminfodiv .itemdesc {
  float: left;
}

.iteminfodiv .itemquantitydiv {
  float: left;
  width: 100%;
}

.iteminfodiv .itemprice {
  float: left;
}

.itemtthumb .checkout {
  width: 25%;
  height: 85%;
  float: left;
}

.checkout button {
  border: 0 none;
  border-radius: 1px;
  color: white;
  background: #72CD58;
  width: 90%;
  margin: 10px;
}

.modal-header button {
  float: right;
}

#categories {
  display: block;
  position: relative;
  float: left;
  width: 219px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
}

#categories ul {
  padding-left: 10px;
}

#categories > ul > .categoryheader {
  font-weight: bold;
  font-size: 16px;
}

#categories li {
  margin-bottom: 5px;
}

#searchitems {
  float: left;
  display: block;
  width: 850px;
}
