<h2 class="shoppingcart">Shopping Cart</h2>
<div id="items">

  <div class="itemtthumb">

    <h3>Your cart is empty.</h3>

    <a href="/" class="backToBrowse btn btn-default">&#8592; Browse more items</a>

  </div>

</div>
