<div class="welcome">
  <div class="text">
    Search Results
  </div>
</div>
<div id=items>
  <div id="categories">
    <ul style="list-style-type: none;">
      <li style="list-style-type: none;" class="categoryheader">Refine Your Search:</li>
      <li style="list-style-type: none;" class="categoryrefine"><a href="javascript:void(0)">Art</a></li>
      <li style="list-style-type: none;" class="categoryrefine"><a href="javascript:void(0)">Bags, Backpacks, & Purses</a></li>
      <li style="list-style-type: none;" class="categoryrefine"><a href="javascript:void(0)">Home & Living</a></li>
      <li style="list-style-type: none;" class="categoryrefine"><a href="javascript:void(0)">Jewelry</a></li>
      <li style="list-style-type: none;" class="categoryrefine"><a href="javascript:void(0)">Mobile Accessories</a></li>
    </ul>
  </div>
  <div id="searchitems">
  </div>
</div>
