<div class="signin">
  <img src="/images/signup.jpeg" class="bgimg" alt="landing backround" height="100%" width="100%">

  <div class="title">
    <h1>ArtisanStyle</h1>
  </div>

  <div class="description">
    <h3>The world's handmade items are a click away</h3>
  </div>

  <% if flash.now[:errors] %>
    <% display = "block" %>
  <% else %>
    <% flash.now[:errors] = [] %>
    <% display = "none" %>
  <% end %>

  <form action="<%= users_url %>" method="post">
    <%= auth_token_input %>

    <div class="alert alert-warning" role="alert" style="display:<%= display %>">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Alert!</strong> <%= flash.now[:errors].join(", ") %>
    </div>

    <div class="inputs">
      <input class="username" type="text" name="user[username]" placeholder="Username">
      <br>
      <input class="password" type="password" name="user[password]" placeholder="Password">
    </div>

    <div class="buttons">
      <input class="signupbtn btn btn-default" type="submit" value="Sign Up">
    </div>

    <br>

    <div class="register">
      <span>Already have an account?</span>
      <a href="/session/new" class="loginbtn btn btn-default">Sign In</a>
    </div>
  </form>

  <div class="footer-landingrow">
    <div class="footerlandingcontainer">
      <div class="footerlandingcontainertainer">
        <div>© 2015 ArtisanStyle, Inc.</div>
        <div><a href="javascript:void(0)">Legal</a></div>
        <div><a href="javascript:void(0)">Privacy</a></div>
        <div><a href="javascript:void(0)">Advertisement</a></div>
      </div>
    </div>
  </div>
</div>
