<div class="shopbanner">
  <img src="<%= shop.escape('banner') %>"/>
  <a href="#shops/<%= shop.escape('id') %>">
    <%= shop.escape('name') %>
  </a>
  <% if (shop.isFavorited()) { %>
    <button class="toggleFavorite btn btn-default" style="color:red">&hearts; Favorite</button>
  <% } else { %>
    <button class="toggleFavorite btn btn-default" style="color:gray">&hearts; Favorite</button>
  <% } %>
</div>

<ul id="items">
</ul>
