<div class="head">
  <img src="<%= shop.escape('banner') %>"/>
  <div class='shopname'>
    <%= shop.escape('name') %>
    <% if (shop.isFavorited()) { %>
      <button class="toggleFavorite btn btn-default" style="color:red">&hearts; Favorite</button>
    <% } else { %>
      <button class="toggleFavorite btn btn-default" style="color:gray">&hearts; Favorite</button>
    <% } %>
  </div>
</div>

<ul id="items">
</ul>
