<div class="head">
  <img src="<%= shop.escape('banner') %>"/>
  <div class='shopname'>
    <%= shop.escape('name') %>
    <button class="togglesub btn btn-default">Add to Favorites</button>
  </div>
</div>

<ul id="items">
</ul>
