/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

#nav {
  overflow: hidden;
  background: #F5F5F1;
}

.navbar {
  display: block;
  height: 100%;
  z-index: 100;
  border-bottom: 0 solid;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
}

.navbar-default .navbar-brand {
  font-family: Poiret One;
  font-size: 36px;
  color: #f45800;
}

.navbar li~li {
  border-left: 1px solid #CCC;
}

.navbar-form button {
  background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  border-color: #54acc7 #4ca0ba #398a9d;
  color: white;
}

#main {
  background: #F5F5F1;
}
