// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bgimg {
  min-width: 1436px;
  max-height: 100%;
  min-height: 729px;
  max-width: 100%;
  position: absolute;
  z-index: 0;
}

.title {
  font-family: Poiret One;
  position: relative;
  display: block;
  font-size: 48px;
  color: #FFF;
  z-index: 1;
}

.description {
  font: Roboto;
  position: relative;
  display: block;
  font-size: 36px;
  color: #FFF;
  z-index: 1;
}

form {
  margin: 0 auto;
  width: 265px;
  padding: 10px;
  position: relative;
  top: 15%;
  color: #FFF;
}

.inputs {
  display: block;
  position: relative;
  height: 101px;
}

.buttons {
  margin: 0;
  position: relative;
  width: 100%;
  transform: translateY(10px);
}

.username {
  position: relative;
  float: right;
  width: 100%;
  border: 0 none;
  border-bottom: 1px solid #CCC;
  border-radius: 1px;
  height: 50px;
  background: rgba(90, 88, 88, 0.2);
}

.password {
  position: relative;
  float: right;
  width: 100%;
  border: 0 none;
  border-radius: 1px;
  height: 50px;
  background: rgba(90, 88, 88, 0.2);
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

form .signupbtn {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: #3ED494;
  border: 0 none;
  border-radius: 1px;
  height: 50px;
  color: #FFF;
}

form .loginbtn {
  background: #00CBE8;
  float: right;
  border: 0 none;
  border-radius: 1px;
  height: 40px;
  width: 100px;
  color: #FFF;
  padding-top: 9px;
}

@media only screen and (max-height: 550px) {
  .footer-landingrow {
    display: none;
  }
}
