<div class="footer-row">
  <div class="footercontainer">
    <div class="footercontainertainer">
      <div>© 2015 ArtisanStyle, Inc.</div>
      <div><a href="javascript:void(0)">Legal</a></div>
      <div><a href="javascript:void(0)">Privacy</a></div>
      <div><a href="javascript:void(0)">Advertisement</a></div>
    </div>
  </div>
</div>
