<div class="footer-row">
  <div class="footercontainer">
    <div class="footercontainertainer">
      <div>© 2015 ArtisanStyle, Inc.</div>
      <div><a href="javascript:void(0)" data-toggle="modal" data-target="#legal">Legal</a></div>
      <div><a href="javascript:void(0)" data-toggle="modal" data-target="#legal">Privacy</a></div>
      <div><a href="javascript:void(0)" data-toggle="modal" data-target="#legal">Advertisement</a></div>
    </div>
  </div>
</div>

<div id="legal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="closePurchase btn btn-default" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Legal, Privacy, Advertisement</h4>
      </div>
      <div class="modal-body">
        <p>ArtisanStyle retains no copyright or ownership of images at the domain artisanstyle.xyz</p>
        <p>ArtisanStyle reserves the right to remove and/or alter user accounts.</p>
        <p>ArtisanStyle does not turn a profit, and currently can't pay for advertisers.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="closePurchase btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
